<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="post">
    <label for="textInput">Dein Username</label>
    <input id="textInput" type="text" name="username" placeholder="Dein Username">
    <!-- <input id="textInputPassword" type="text" name="password" placeholder="Dein Password"> -->
    <button type="submit" value="sendet">Abschicken</button>
</form>
</body>
</html>